<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quantum.quran">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.github.android" />
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/iicc_ic_laun_cher"
        android:label="AL-QURAN আল-কুরআন উচ্চারণ ও অর্থসহ"
        android:roundIcon="@mipmap/iicc_ic_laun_cher_rou_nd"
        android:supportsRtl="true"
        android:theme="@style/ThemeLightPurple"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="com.quantum.quran.activity.LanguageActi"
            android:exported="true" />
        <activity android:name="com.quantum.quran.activity.AboutActi" />
        <activity android:name="com.quantum.quran.activity.SettingsActi" />
        <activity android:name="com.quantum.quran.activity.ParaActi" />
        <activity android:name="com.quantum.quran.activity.QuranMainActi" />
        <activity android:name="com.quantum.quran.activity.QuranActi" />
        <activity
            android:name="com.quantum.quran.activity.SurahActi"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.quantum.quran.activity.SplashActi"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.quantum.quran.services.Aodio_Servi"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />
    </application>

</manifest>